<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>JSONAllCarsServlet</servlet-name>
        <servlet-class>servlets.json.JSONAllCarsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONAllCarsServlet</servlet-name>
        <url-pattern>/jsonCars</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSONAllBodiesServlet</servlet-name>
        <servlet-class>servlets.json.JSONAllBodiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONAllBodiesServlet</servlet-name>
        <url-pattern>/jsonBodies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSONAllBrandsServlet</servlet-name>
        <servlet-class>servlets.json.JSONAllBrandsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONAllBrandsServlet</servlet-name>
        <url-pattern>/jsonBrands</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSONAllEnginesServlet</servlet-name>
        <servlet-class>servlets.json.JSONAllEnginesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONAllEnginesServlet</servlet-name>
        <url-pattern>/jsonEngines</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSONAllTransmissionsServlet</servlet-name>
        <servlet-class>servlets.json.JSONAllTransmissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONAllTransmissionsServlet</servlet-name>
        <url-pattern>/jsonTransmissions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>servlets.AddCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCarServlet</servlet-name>
        <servlet-class>servlets.ViewCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCarServlet</servlet-name>
        <url-pattern>/viewCar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListCarServlet</servlet-name>
        <servlet-class>servlets.ListCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCarServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>